<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%=title%></title>
  <link rel="stylesheet" href="../assets/styles/css/main.css">
  <%- include('../assets/vendor/bootstrap/_style') %>
  <%- include('../assets/vendor/font/_lato') %>
  <%- include('../assets/vendor/font/_roboto') %>
  <%- include('../assets/vendor/icon/_material') %>
</head>